{
  "extension": [
    ".js"
  ],
  "reporter": [
    "lcov",
    "text",
    "html",
    "json"
  ],
  "exclude": ["**/*/test*", "test/*", "coverage/*", ".eslintrc.js"],
  "report-dir": "./coverage/",
  "all": "true"
}

